<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CourseBD.Properties.Settings.ConnectionBD" connectionString="Data Source=DESKTOP-IRD21FU;Initial Catalog=test;Persist Security Info=True;User ID=sa;Password=1990025"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>